
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Template.cshtml";
}

<h2>Trabalho de .Net Web I</h2>

<span style="text-align: justify; padding: 10px;">
    Requisitos funcionais: CRUDs parciais dos modelos Cliente e Produto:

    Cadastrar novo Cliente
    Detalhar Cliente recém-cadastrado (exibir dados após cadastrar)
    Cadastrar novo Produto
    Detalhar Produto recém-cadastrado (exibir dados após cadastrar)
    Persistência dos dados (seja via Entity Framework, nHibernate, ADO.NET, XML, TXT, etc)
    Não é necessário: listar, editar, excluir ou detalhar (exceto o caso listado acima, do detalhamento imediato após a inclusão)
</span>

